@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: hsl(255, 65%, 99.4%);
  --primary-2: hsl(252, 100%, 99%);
  --primary-3: hsl(252, 96.9%, 97.4%);
  --primary-4: hsl(252, 91.5%, 95.5%);
  --primary-5: hsl(252, 85.1%, 93%);
  --primary-6: hsl(252, 77.8%, 89.4%);
  --primary-7: hsl(252, 71%, 83.7%);
  --primary-8: hsl(252, 68.6%, 76.3%);
  --primary-9: hsl(252, 56%, 57.5%);
  --primary-10: hsl(251, 48.1%, 53.5%);
  --primary-11: hsl(250, 43%, 48%);
  --primary-12: hsl(254, 60%, 18.5%);
  font-family: "poppins";
}

html[data-theme="dark"] {
  --primary-1: hsl(250, 20%, 10.2%);
  --primary-2: hsl(255, 30.3%, 12.9%);
  --primary-3: hsl(253, 37%, 18.4%);
  --primary-4: hsl(252, 40.1%, 22.5%);
  --primary-5: hsl(252, 42.2%, 26.2%);
  --primary-6: hsl(251, 44.3%, 31.1%);
  --primary-7: hsl(250, 46.8%, 38.9%);
  --primary-8: hsl(250, 51.8%, 51.2%);
  --primary-9: hsl(252, 56%, 57.5%);
  --primary-10: hsl(251, 63.2%, 63.2%);
  --primary-11: hsl(250, 95%, 76.8%);
  --primary-12: hsl(252, 87%, 96.4%);
}

html[data-theme="light"] {
  --primary-1: hsl(255, 65%, 99.4%);
  --primary-2: hsl(252, 100%, 99%);
  --primary-3: hsl(252, 96.9%, 97.4%);
  --primary-4: hsl(252, 91.5%, 95.5%);
  --primary-5: hsl(252, 85.1%, 93%);
  --primary-6: hsl(252, 77.8%, 89.4%);
  --primary-7: hsl(252, 71%, 83.7%);
  --primary-8: hsl(252, 68.6%, 76.3%);
  --primary-9: hsl(252, 56%, 57.5%);
  --primary-10: hsl(251, 48.1%, 53.5%);
  --primary-11: hsl(250, 43%, 48%);
  --primary-12: hsl(254, 60%, 18.5%);
}

.component-wrapper {
  padding: 0 32px;
}

main {
  height: calc(100vh - 124px);
}
body {
  height: 100vh;
}

.custom-height {
  height: calc(100vh - 64px);
}

.box {
  opacity: 0;
  transform: translateY(20px);
  animation: emerge 5s ease forwards;
  animation-delay: infinite;
}

@keyframes emerge {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
