---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.tsx';
import Footer from '../components/Footer.tsx';
import { SITE_TITLE } from '../utils/consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Ankita Yadav" description={"portfolio"} />
	</head>
	<body>
		<Header />
		<main>
		<h1>Blog page</h1>
		</main>
		<Footer />
	</body>
</html>
