---
import BaseHead from "../components/BaseHead.astro";
import About from "../components/About";
import "../styles/base.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Ankita Yadav" description={"portfolio"} />
  </head>
  <body>
    <main class="bg-gradient-to-r from-primary-1 to-primary-11">
      <About />
    </main>
  </body>
</html>
