---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.tsx";
import ProjectSection from "../components/Projects.tsx";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Ankita Yadav" description={"portfolio"} />
  </head>
  <body>
    <Header />
    <main class="bg-primary-3">
      <ProjectSection />
    </main>
    <Footer />
  </body>
</html>
../components/Header.stro