---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.tsx';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../utils/consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Ankita Yadav" description={"portfolio"} />
	</head>
	<body>
		<Header />
		<main>
		<h2>Hello Projects</h1>
		</main>
		<Footer />
	</body>
</html>
../components/Header.tsx