---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.tsx";
import SkillSection from "../components/Skills.tsx";
import "../styles/base.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Ankita Yadav" description={"portfolio"} />
  </head>
  <body>
    <Header />
    <main class="bg-primary-3">
      <SkillSection />
    </main>
    <Footer />
  </body>
</html>
