---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.astro";
import SkillSection from "../components/Skills.tsx";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Ankita Yadav" description={"portfolio"} />
  </head>
  <body>
    <Header />
    <main>
      <SkillSection />
      <div class="heart"></div>
    </main>
    <Footer />
  </body>
</html>
