---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SkillSection from "../components/Skills.tsx";
import { SITE_TITLE } from '../utils/consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Ankita Yadav" description={"portfolio"} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
		<SkillSection></SkillSection>
		</main>
		<Footer />
	</body>
</html>
